In [1]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score
%matplotlib inline

In [2]:
train = pd.read_csv('data.csv')
train.head()

                  basket  returnLabel  totalAmount  transactionId  zipCode
0  [5, 5, 1, 4, 3, 5, 5]            0          210     4177614910     3615
1              [2, 0, 0]            0          102     2773356824     3846
2     [5, 0, 5, 2, 5, 3]            0          408     7497870913     6898
3        [3, 5, 3, 1, 4]            0          295     9373529286     1321
4                    [4]            0           10     7214034283     1533

In [3]:
X = train[['totalAmount']].values
Y = train['returnLabel'].values

scaler = StandardScaler()
X_std = scaler.fit_transform(X)

# Split Data in Train and Test Data
X_train, X_test, y_train, y_test = train_test_split(X_std, Y, test_size=0.30,random_state=101)

D:\Programme\Anaconda\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Programme\Anaconda\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [4]:
# Train KNN 
knn = KNeighborsClassifier(n_neighbors=5, n_jobs=-1).fit(X_std, Y)
predictions = knn.predict(X_test)
print(classification_report(y_test,predictions))
print("Accuracy:", accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98      9006
           1       1.00      0.00      0.01       294

   micro avg       0.97      0.97      0.97      9300
   macro avg       0.98      0.50      0.50      9300
weighted avg       0.97      0.97      0.95      9300

Accuracy: 0.968494623655914